services:
  ngrok:
    image: ngrok/ngrok:latest
    container_name: stackpay_ngrok
    restart: always
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    command: http web:8000
    ports:
     - "4040:4040"
     
  web:
    build: .
    container_name: stackpay_web
    env_file: .env
    ports: 
      - "8000:8000"
    depends_on: 
      - db 
      - redis
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
  
  db:
    image: mysql:8
    container_name: stackpay_db
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  
  redis:
    image: redis:7
    container_name: stackpay_redis
    restart: always
    ports:
      - "6379:6379"
    
  celery:
    build: .
    container_name: stackpay_celery
    command: celery -A stackpay worker -l info -Q celery,expired
    env_file: .env
    depends_on:
      - redis
      - db

  celery-beat:
    build: .
    container_name: stackpay_celery_beat
    command: celery -A stackpay beat -l info
    env_file: .env
    depends_on:
      - redis
      - db
  
volumes:
  db_data:
  static_volume:
  media_volume:



